### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
*.class
*.kotlin_module
target/
oop_nix/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
/bin/